name: Release nuget http client

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version of nuget package'
        required: true
env:
  PACKAGE_NAME: GhostNetwork.Publications
  PACKAGE_REGISTRY: https://api.nuget.org/v3/index.json

jobs:
  generate-client:
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v2
      - name: Install generator
        run: npm install @openapitools/openapi-generator-cli
      - name: Run service instance
        run: docker-compose up -d
      - name: generate-package
        run: |
          npx @openapitools/openapi-generator-cli generate -i http://localhost:5300/swagger/v1/swagger.json \
            -g csharp-netcore \
            -o ./http-client \
            --additional-properties=packageName=$PACKAGE_NAME \
            --additional-properties=netCoreProjectFile=true
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.301
      - name: Create package
        run: dotnet pack -p:PackageVersion=${{ github.event.inputs.version }} -o .
        working-directory: ./http-client
      - name: Publish package
        run: dotnet nuget push $PACKAGE_NAME --source $PACKAGE_REGISTRY --api-key ${{ secrets.NUGET_KEY }}
        working-directory: ./http-client
